@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter';
}

.res-max-w-custom {
  max-width: calc(100% - 144px);
}


@media (max-width: 728px) {
  .filter {
    flex-direction: column;
  }
}